#menu{ /*configurações gerais do menu*/
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #3B1F11;
}

#dishes{ /*configurações dos pratos */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 2rem;
}

#dishes h2 {
    font-family: xilosa;
}

.dish-image{ /*configurações do layout dos pratos */
    max-height: 200px;
    border-radius: 10px;
}

.section-title{/*título */
    color: orange;
    font-family: xilosa;
    font-size: 5rem;
}

.section-subtitle{/*subtítulo */
    font-size: 1.5rem;
    color: white;
}

.button-menu:hover {
    cursor: pointer;
    transform: scale(1.05);
}

@media screen and (min-width: 1065px) {/*configuração de responsividade */
    #dishes {
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 700px) {
    #dishes{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 550px){
    #dishes{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 425px){ 
    #menu .section-subtitle{
        text-align: center;
    }
}