@import "tailwindcss";

html {
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

html, body {
    width: 100%;
}

body{
    background-color: #f0f8ff;
}

section{
    padding: 28px 8%;
}

#contato-mix{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    gap: 3rem;
}

.mapa{
   height: 40vh;
   border-radius: 80px;
   padding: 50px;
}

footer {
    background-color: black;
    width: 100%;
}

footer p {
    color: #F0F8FF;
    text-align: center;
}

@media (max-width: 1200px) {
    .mix-arretado {
        display: flex;
        flex-direction: column;
    }

    .imagem-descricao {
        width: 500px;
    }    
}

@media (max-width: 900px) {
    #contato-mix{
        flex-wrap: wrap;
    }
    
    .mapa{
        margin: auto;
    }
}

@media (max-width: 600px){
    .imagem-descricao{
        display: none;
    }
    .dados-sobre p{
        text-align: justify;
    }
    .dados-sobre h1 {
        margin: auto auto 20px auto;
    }
}